modules = ["nodejs-20", "ruby-3.2", "swift-5.8"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --tunnel --port 8081"
waitForPort = 8081

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[deployment]
deploymentTarget = "static"
build = ["npx", "expo", "export", "--platform", "web", "--output-dir", "dist"]
publicDir = "dist"

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyDzxfE9asNoXz3_R-409YShIv2Evjh3btE"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "spindare-e5444.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "spindare-e5444"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "spindare-e5444.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "571702461891"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:571702461891:web:de22384c9df45d0685e976"
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-PY6KNY2LL3"
